.Carousel {
  display: flex;
  flex-direction: column;
  width: 364px; /* 360px + 4px border */
  height: 440px; /* 436px + 4px border */
  margin: auto;
  border: solid 2px black;
  border-radius: 2.5px;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
}
