.Carousel {
  display: flex;
  flex-direction: column;
  width: 476px;
  height: max-content;
  margin: auto;
  background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 476px) {
  .Carousel {
    width: 100%;
  }
}
