.SlideContainer {
  display: flex;
  overflow: hidden;
}

.SlideContainer.main {
  width: 476px;
  height: 476px;
}

.SlideContainer.thumbnail {
  width: 68px;
  height: 68px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.SlideContainer.thumbnail:hover {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.SlideContainer.thumbnail.selected {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

@media screen and (max-width: 476px) {
  .SlideContainer.main {
    width: 100vw;
    height: 100vw;
  }

  .SlideContainer.thumbnail {
    width: calc(100vw / 7);
    height: calc(100vw / 7);
  }
}
