.Slide {
  display: flex;
  padding: 4px;
}

.Slide.single {
  width: 340px;
  height: 340px;
}

.Slide.multiple {
  width: 68px;
  height: 68px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.Slide.multiple.selected {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
