.Slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  overflow: hidden;
}

.Slide.main {
  width: 476px;
  height: 476px;
}

.Slide.thumbnail {
  width: 68px;
  height: 68px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.Slide.thumbnail:hover {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.Slide.thumbnail.selected {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.Slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 476px) {
  .Slide.main {
    width: 100vw;
    height: 100vw;
  }

  .Slide.thumbnail {
    width: calc(100vw / 7);
    height: calc(100vw / 7);
  }
}
