.SlidesContainer {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  touch-action: pan-y pinch-zoom;
}

.SlidesContainer.main {
  height: 476px;
}

.SlidesContainer.thumbnail {
  height: 68px;
}

@media screen and (max-width: 476px) {
  .SlidesContainer.main {
    height: 100vw;
  }

  .SlidesContainer.thumbnail {
    height: calc(100vw / 7);
  }
}
