.View {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.View.single {
  height: 360px;
  /* background-color: rgb(210, 210, 210); */
}

.View.multiple {
  height: 76px;
  /* background-color: rgb(190, 190, 190); */
}
